<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Perfil
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page20" style="background-color:#E44045;">

  <ion-card>
    <img src="assets/img/Users-User-Male-2-icon.png" style="display:block;width:15%;height:auto;margin-left:auto;margin-right:auto;"/> 
    <div></div>
     <ion-item text-center *ngIf="!!user"> 
      <ion-card-title>{{user.firstName}} {{user.lastName}}</ion-card-title> 
      <h2>{{user.username}}</h2> 
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col text-left><ion-card-title style="padding-right:10%;">Amigos</ion-card-title></ion-col> 
      <ion-col text-right>
         <button ion-button icon-left clear on-click="addFriend()"> 
          <ion-icon name="add-circle"></ion-icon><div> Agregar Amigos</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
<ion-item *ngFor="let friend of friends"> 
      <ion-item> 
            <ion-row> 
              <ion-col> 
                <ion-avatar item-start> 
                  <img src="assets/img/Users-User-Male-2-icon.png"> 
                </ion-avatar> 
              </ion-col> 
              <ion-col text-right> 
                <button ion-button icon-left clear on-click="viewUser(friend)"><div>Ver Perfil</div> 
                </button> 
              </ion-col> 
            </ion-row> 
            <h2>{{friend.firstName}} {{friend.lastName}}</h2> 
            <p>{{friend.username}}</p> 
      </ion-item> 
    </ion-item> 


</ion-content>