
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
  		<ion-icon name="memu"></ion-icon>
  	</button>
    <ion-title>Ordenes</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding style="background-color:#E44045;">
	<ion-list>
		<ion-item color="assertive"  id="categorAs-list-item13" *ngFor="let order of orders">
			<ion-card>
				<ion-item>
					<ion-avatar item-start>
						<img src="img/marty-avatar.png">
					</ion-avatar>
					<h2>{{order.firstName}} {{order.lastName}}</h2>
					<p>{{order.date}}</p>
					<p> {{order.status}}</p>
				</ion-item>

				<ion-card-content>
						<ion-item *ngFor="let item of order.items">
								<p>{{ item.name }}</p>
						</ion-item>
				</ion-card-content>
			
				<ion-row>
					<ion-col text-right>
	            <button ion-button icon-left clear on-click="handleDeleteOrder(order)">
	              <ion-icon name="close-circle"></ion-icon><div>Eliminar</div>
	            </button>
	          </ion-col>
				</ion-row>
			
			</ion-card>
	  </ion-item>
	</ion-list>

</ion-content>
